celery==5.3.6
daphne==4.0.0
Django==5.0.6
opentelemetry-api==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-django==0.43b0
opentelemetry-instrumentation-wsgi==0.43b0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
psycopg2-binary==2.9.9
redis==5.0.1
requests==2.31.0
whitenoise==6.6.0
python-dotenv==1.0.1
Twisted[tls,http2]==24.3.0
