{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}



<div class="flex flex-row justify-center items-center w-screen h-screen" >
    <div class="max-w-sm w-11/12 sm:w-3/4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p class="mb-4 text-danger-600 text-l">{% translate "Your username and password didn't match. Please try again." %}</p>
            {% endif %}
            <div class="mb-4">
                {{ form.username.as_field_group }}
            </div>
            <div class="mb-6">
                {{ form.password.as_field_group }}
            </div>
            <button is="wc-button" type="submit">{% trans 'Login' %}</button>

            {% if password_reset_url %}
                <div class="">
                    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
                </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}