{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="m-2">
    <div class="w-[500px]">
        <form method="post" action="{% url 'accounts:password_change' %}">
            {% csrf_token %}
            <div class="mb-6">
                {{ form.old_password.as_field_group }}
            </div>

            <div class="mb-6">
                {{ form.new_password1.as_field_group }}
            </div>

            <div class="mb-6">
                {{ form.new_password2.as_field_group }}
            </div>

            {% csrf_token %}
            <button is="wc-button" type="submit">{% trans "Reset" %}</button>
        </form>
    </div>
</div>

{% endblock %}