{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="flex flex-row justify-center items-center w-screen h-screen">
    <div  class="md:w-[500px] sm:w-3/4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="mb-6 text-center">
            <h1 class="my-2 font-medium text-2xl">{% trans "Reset your password" %}</h1>
        </div>
        <form method="post">
            <div class="mb-6">
                {{ form.new_password1.as_field_group }}
            </div>

            <div class="mb-6">
                {{ form.new_password2.as_field_group }}
            </div>

            {% csrf_token %}
            <button is="wc-button" type="submit">{% trans "Reset" %}</button>
        </form>
    </div>
</div>

{% endblock %}