{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script type="module" src="{% static "js/components/app/accounts/PasswordResetForm.js" %}"></script>
{% endblock %}

{% block content %}


<div class="flex flex-row justify-center items-center w-screen h-screen">
    <div class="max-w-sm w-11/12 sm:w-3/4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <accounts-password-reset-form
            action="{% url 'accounts:password_reset' %}">

            <span slot="email-label">{% translate "Email" %}</span>
            <span slot="reset-btn-label">{% translate "Reset" %}</span>
        </accounts-password-reset-form>
    </div>
</div>

{% endblock %}