{% load static %}
<!Doctype html>
<html lang="en">
<head>
  <title>{% block title %} App Starter {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />

  <script type="importmap">
    {
      "imports": {
        "preact": "https://esm.sh/preact@10.19.2",
        "preact/": "https://esm.sh/preact@10.19.2/",
        "htm/preact": "https://esm.sh/htm@3.1.1/preact?external=preact",
        "preact-custom-element": "https://esm.sh/preact-custom-element@4.3.0",
        "js-cookie": "https://esm.sh/js-cookie@3.0.5"
      }
    }
  </script>

  {% block scripts %}
  {% endblock %}
</head>  
<body>
  {% block content %} {% endblock %}
</body>
</html>