{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <title>{% block title %} App Starter {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'icons/favicon.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block scripts %}
    {% endblock %}

    <!-- Components -->
    <script src="{% static 'general/button.js' %}"></script>
    <!-- End components -->
     
    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.8.0/unpoly.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.8.0/unpoly-migrate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js" defer></script>
</head>  
<body>
    {% block content %} {% endblock %}

    <script>
        up.fragment.config.runScripts = () => {};
        up.history.config.updateMetaTags = () => {};
    </script>
</body>
</html>